<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zavazow.model.PassengerDAO">

<!-- select문은 select, insert문은 insert
	똑같은 이름의 태그 사용
	
	id : DAO와의 연결 매개체
	parameterType : 매개변수 데이터 타입을 명시
	#{필드명} : 바인드 변수
	-->
	
	<insert id="joinService" parameterType="Model.MemberVO">
		insert into msg_member values (#{email}, #{pw}, #{tel}, #{address})
	</insert>
	
	<!-- select를 할 때, resultType을 통해서 원하는 VO 또는 List객체로 묶어줄 수 있다. -->
	<!-- 여러개의 데이터를 DB에서 가져올 때, resultType은 한개로 가져올 때와 같음 -->
	<select id="loginService" parameterType="Model.MemberVO" resultType="Model.MemberVO">
		select * from msg_member where email = #{email} and pw = #{pw}
	</select>
  	
  	
  	<update id="updateService" parameterType="Model.MemberVO">
  		update msg_member set pw = #{pw}, tel = #{tel}, address = #{address} where email = #{email}
  	</update>
  	
  	<!-- 매개변수가 String이나 기타 등등 한개만 들어올 때 parameterType 안써도 된다 -->
  	<delete id="deleteService">
  		delete from msg_member where email = #{email}
  	</delete>
  	
  	<select id="emailCheck" resultType="Model.MemberVO">
  		select * from msg_member where email = #{email}
  	</select>
  	
  	<!-- ================================== -->
  	
  	<insert id="messeageSend" parameterType="Model.MessageVO">
  		insert into msg_message values (msg_num_seq.nextval, #{send_name}, #{receive_name}, #{content}, sysdate)
  	</insert>
  	
  	<select id="selectMessage" resultType="Model.MessageVO">
  		select * from msg_message where receive_name = #{email}
  	</select>
  	
  	<!-- ================================== -->
  	
  	<insert id="writeBoard" parameterType="Model.BoardVO">
  		insert into msg_board values (msg_bnum_seq.nextval, #{writer}, #{title}, #{fileName}, #{content}, sysdate)
  	</insert>
  	
  	<select id="selectBoard" resultType="Model.BoardVO">
  		select * from msg_board
  	</select>
  	
  	<select id="viewBoard" resultType="Model.BoardVO">
  		select * from msg_board where num = #{num}
  	</select>
  	
</mapper>